html {
}
textarea{
    outline: none;
}
body {
    width: 400px;
    box-sizing: border-box;
}

.container {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

header{
    height: 50px;
    line-height: 50px;
    background: #689f38;
    box-sizing: border-box;
}

header p {
    padding: 0;
    margin: 0;
    font-size: 16pt;
    letter-spacing: 2px;
    color: white;
}

main {
    height: auto;
    margin: 0;
    padding: 10px 0;
    box-sizing: border-box;
}

#func_buttons {
    height: 50px;
    width: 275px;
    margin: 0 auto;
    padding-top: 15px;
}
#split{
    width: 45px;
    box-sizing: border-box;
    float:left;
}
#store{
    width: 55px;
    box-sizing: border-box;
    float:left;
}
#retrieve{
    width: 95px;
    box-sizing: border-box;
    float:left;
}
#bookmark{
    width: 95px;
    box-sizing: border-box;
    float:left;
}

.btn {
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #111;
    padding: 7px 5px;
    width: auto;
    height: 35px;
    box-sizing: border-box;
    font-size: 11pt;
    letter-spacing: 1px;
    box-shadow: 0px 4px rgba(0,0,0,.4);
    cursor: pointer;
}

.btn:not(:last-child){
    margin-right: 40px;
}

.pushed{
    margin-top: 3px;
    box-shadow: 0px 1px rgba(0,0,0,.4);
}

.btn:hover {
    opacity: 0.8;
}

#func_buttons > button:not(:last-child) {
    margin-right: 30px;
}

#options {
    display: none;
    height: 100px;
    padding-top: 15px;
    margin: 0;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,0.2);
}

#options ul {
    margin: 0;
    padding: 0;
}
#options li {
    display: inline-block;
    list-style-type: none;
}

#bookmark_tree{
    width: 150px;
    height: 40px;
    box-sizing: border-box;
}

#options p {
    width: 30px;
}

#new_folder_name {
    width: 120px;
    padding: 0px 5px;
}

#save {
    margin-left: 190px;
    padding: 0;
    height: 25px;
    width: 40px;
}

footer{
    height: 40px;
    line-height: 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0,0,0,0.4);
}

#author {
    height: 40px;
    overflow: hidden;
}
.text {
    letter-spacing: 1px;
    float: right;
    font-size: 10pt;
    font-style: italic;
}

.img {
    float: right;
    margin: 3px 5px 0 5px;
}
